.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: relative;
  
    .box {
      width: 300px;
      height: 300px;
  
      &.green {
        background-color: green;
      }
  
      &.red {
        background-color: red;
      }
  
      &.circle {
        border-radius: 50%;
      }
    }
  
    .btns {
      position: absolute;
      bottom: 100px;
      left: 0px;
      width: 100vw;
      text-align: center;
  
      button {
        width: 130px;
        margin: 30px;
        padding: 10px;
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;
        border-radius: 3px;
        border: 0;
        outline: none;
  
        &.active {
          background-color: #2f2f2f;
          color: #fff;
        }
      }
    }
  }
  