div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: calc(100vh - 96px);
    background-color: #d7fed6;
    font-size: 60px;
    font-weight: bold;
}