@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: Raleway, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #001B2E;
    color: #FFEFD3;
}

