<div class="container">
  <div class="banner">
    <h1>Photography</h1>
    <img [ngSrc]="bannerImg" alt="" fill priority>
  </div>
  <div class="sections">
    <div class="section">
      <h3>Birds</h3>
      <img [ngSrc]="birdsImg" alt="" width="1618" height="1080" priority>
    </div>
    <div class="section">
      <h3>Animals</h3>
      <img [ngSrc]="animalsImg" alt="" width="1613" height="1080">
    </div>
    <div class="section">
      <h3>Flowers</h3>
      <img [ngSrc]="flowersImg" alt="" width="1451" height="1080">
    </div>
    <div class="section">
      <h3>Vegetables</h3>
      <img [ngSrc]="vegetablesImg" alt="" width="1440" height="1080">
    </div>
    <div class="section">
      <h3>Fruits</h3>
      <img [ngSrc]="fruitsImg" alt="" width="1620" height="1080">
    </div>
  </div>
</div>