button {
    width: 250px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    outline: none;
    border: 0px;
    cursor: pointer;
    background-color: #330036;
    color: #EEE1B3;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}