@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Kdam Thmor Pro', Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #edf2f4;
    color: #d90429;
}